#modal-lightbox {
  background-color: rgba(0,0,0,0.7);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.lightbox {
  border-radius: 5px;
  background-color: white;
  width: 85%;
  height: 90%;
  display: block;
  padding: 1vh 5vw;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  overflow-y: auto;
  overflow-x: hidden;
}

.lightbox img {
  height: 85%;
  object-fit: contain;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.lightbox video {
  height: 80%;
  width: 90%;
  object-fit: contain;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

i.fas.fa-times {
  color: #901C1C;
  cursor: pointer;
  font-size: 3rem;
  right: 0%;
  position: absolute;
  top: 3%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

i.fas.fa-chevron-right {
  color: #901C1C;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

i.fas.fa-chevron-left {
  color: #901C1C;
  cursor: pointer;
  font-size: 3rem;
  left: 2%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.image-title-preview {
  color: #901C1C;
  font-size: 1.2rem;
  font-weight: 600;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
}