@import url("photographer.css");
@import url("lightbox.css");

/* Added z-index */

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    z-index: 1;
}

/* Removed margin for h1 and logo, added header margin */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: auto 7vw;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
}

/* Reduced margin-top */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 80px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Added a tag alignment, decoration and focus */

.photographer_section article a {
    text-align: center;
    text-decoration: none;
}

a:focus {
    border: 0.1rem solid black;
}

.photographer_section article img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

/* Adjusted h2 and added h3, p and span based on the mockups */

.photographer_section article h2 {
    color: #BF5138;
    font-size: 2.25rem;
    margin: 1.5vh auto;
}

.photographer_section article h3 {
    color: #901C1C;
    font-size: 1rem;
    margin: auto;
}

.photographer_section p {
    margin: auto;
}

.photographer_section span {
    color: #525252;
    font-size: .9rem;
}